.home{align-content:center;flex-wrap:wrap;height:90vh}.home,.home .link{display:flex;justify-content:center}.home .link{align-items:center;background-color:var(--home-button-color);border-radius:10px;box-shadow:0 3px 8px rgba(0,0,0,.24);color:var(--font-home-button);font-size:2em;height:5em;text-decoration:none;width:11em}
/*# sourceMappingURL=855.e9ce8f32.chunk.css.map*/